<!-- Toolbar -->
<mat-toolbar color="primary" class="header" *ngIf="currentUser">
  <div>Dejavu Backend</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]="options.top" *ngIf="currentUser">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/matches-list">
        <mat-icon>assessment</mat-icon>Match Table
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>