<h2 mat-dialog-title>Add New Match</h2>
<mat-card>
  <mat-dialog-content #addDialog class="mat-typography">
    <!-- Book form -->
    <div class="inner-wrapper">
      <form [formGroup]="bookForm" (ngSubmit)="submitBook()" #resetBookForm="ngForm" novalidate>
        <!-- Left block -->
          <div class="controlers-wrapper">

            <!-- Match Type -->
            <mat-form-field>
              <mat-label>Match Type</mat-label>
              <mat-select [(value)]="selected" [(ngModel)]="optionValue" formControlName="match_type">
                <mat-option [value]="matchType" *ngFor="let matchType of MatchType">{{matchType}}</mat-option>
              </mat-select>
              <mat-error *ngIf="handleError('match_type', 'required')">
                Match type is required
              </mat-error>
            </mat-form-field>

            <!-- Match title -->
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Match title" formControlName="match_title">
              <mat-error *ngIf="handleError('match_title', 'required')">
                You must provide a<strong> match title</strong>
              </mat-error>
            </mat-form-field>

            <!-- Match date -->
            <mat-form-field>
              <input matInput readonly (focus)="picker.open()" (click)="picker.open()" [matDatepicker]="picker" placeholder="Match date"
                formControlName="match_date" (dateChange)="formatDate($event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="handleError('match_date', 'required')">
                Match date is required
              </mat-error>
            </mat-form-field>

            <!-- Rival logo -->
            <mat-form-field appearance="outline" *ngIf="optionValue != 'Tournament' || ''">
              <mat-label>upload rival logo</mat-label>
              <ngx-mat-file-input [accept]="'.jpg,.png,.jpeg'" #removableInput formControlName="rival_logo" (change)="startUpload($event.target.files)">
              </ngx-mat-file-input>
              <mat-icon matSuffix>cloud_upload</mat-icon>
            </mat-form-field>

            <!-- Book name -->
            <!-- <mat-form-field class="example-full-width">
              <input matInput placeholder="Book name" formControlName="book_name">
              <mat-error *ngIf="handleError('book_name', 'required')">
                You must provide a<strong>book name</strong>
              </mat-error>
            </mat-form-field> -->
  
            <!-- ISBN -->
            <!-- <mat-form-field class="example-full-width">
              <input matInput placeholder="ISBN-10" formControlName="isbn_10" pattern="[0-9]*" minlength="10"
                maxlength="10">
              <mat-error *ngIf="handleError('isbn_10', 'required')">
                You must provide a <strong>10 digit ISBN</strong>
              </mat-error>
              <mat-error *ngIf="handleError('isbn_10', 'pattern')">
                Only numbers are allowed
              </mat-error>
              <mat-error *ngIf="handleError('isbn_10', 'minlength')">
                Your <strong>ISBN</strong> must be 10 digit
              </mat-error>
            </mat-form-field> -->
  
            <!-- Author name -->
            <!-- <mat-form-field class="example-full-width">
              <input matInput placeholder="Author name" formControlName="author_name">
              <mat-error *ngIf="handleError('author_name', 'required')">
                You must provide an <strong>author name</strong>
              </mat-error>
            </mat-form-field> -->
  
            <!-- Publication date -->
            <!-- <mat-form-field>
              <input matInput readonly (focus)="picker.open()" (click)="picker.open()" [matDatepicker]="picker" placeholder="Publication date"
                formControlName="publication_date" (dateChange)="formatDate($event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="handleError('publication_date', 'required')">
                Publication date is required
              </mat-error>
            </mat-form-field> -->
          </div>
        
          <div class="controlers-wrapper">
            <div *ngIf="percentage | async as pct">
              <mat-progress-bar mode="determinate" [value]="pct" max="100"></mat-progress-bar>
              {{ pct | number }}%
            </div>
            
            <div *ngIf="(snapshot | async) as snap">
              {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }} 
            
              <div *ngIf="downloadURL | async as url">
                <h3>Upload complete, click submit!</h3>
                <img [src]="url"><br>
                <!-- <a [href]="url" target="_blank" rel="noopener">Download Me!</a> -->
              </div> 
              <hr>
              
              <button (click)="task.pause()" mat-icon-button [disabled]="!isActive(snap)">
                  <mat-icon>pause</mat-icon>
              </button>
              <button (click)="task.cancel()" mat-icon-button [disabled]="!isActive(snap)">
                  <mat-icon>close</mat-icon>
              </button>
              <button (click)="task.resume()" mat-icon-button [disabled]="!(snap?.state === 'paused')">
                  <mat-icon>play_arrow</mat-icon>
              </button>
            
            </div>
            <!-- Book binding -->
            <!-- <mat-form-field>
              <mat-label>Binding type</mat-label>
              <mat-select [(value)]="selected" formControlName="binding_type">
                <mat-option [value]="bindingType" *ngFor="let bindingType of BindingType">{{bindingType}}</mat-option>
              </mat-select>
              <mat-error *ngIf="handleError('binding_type', 'required')">
                Binding type is required
              </mat-error>
            </mat-form-field> -->
  
            <!-- Book stock -->
            <!-- <div class="misc-bottom-padding">
              <mat-label>Available in stock: </mat-label>
              <mat-radio-group aria-label="Select an option" formControlName="in_stock">
                <mat-radio-button value="Yes">Yes</mat-radio-button>
                <mat-radio-button value="No">No</mat-radio-button>
              </mat-radio-group>
            </div> -->
  
            <!-- Add languages -->
            <!-- <mat-form-field class="multiple-items">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let lang of languageArray" [selectable]="selectable" [removable]="removable"
                  (removed)="remove(lang)">
                  {{lang.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Add languages" [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <i class="material-icons tooltip-info" matTooltip="Enter item name and press enter to add multiple items">
                info
              </i>
            </mat-form-field> -->
          </div>
  
        <!-- Submit & Reset -->
        
          <div class="full-wrapper button-wrapper">
            <div class="button-wrapper">
              
            </div>
          </div>
        
      </form>
    </div>
  </mat-dialog-content>
</mat-card>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="submitBook()">Submit</button>
  <button mat-raised-button (click)="resetForm()">Clear</button>
  <button mat-raised-button mat-dialog-close (click)="resetForm()">Close</button>
</mat-dialog-actions>
